body{
    margin: 0;
    padding: 0;
    background: rgb(142, 142, 142);
    color: #004D7D;
}
.sidebar{
    display: flex;
    background: rgb(241, 245, 249);
    flex-shrink: 0;
    flex-direction: column;
    box-sizing: border-box;
    height: 100vh;
}
    .sidebar span{
    font-size: calc(1.275rem + .3vw);
    }
    .sidebar hr{
    margin: 1rem 0;
    width: 100%;
    opacity: .25;
    border-top: 1px solid;
    }
    .sidebar ul{
    margin-bottom: auto;
    flex-direction: column;
    display: flex;
    }
    .sidebar il{
    display: list-item;
    text-align: -webkit-match-parent;
    font: 1.5em sans-serif;
    list-style: none;
    margin-bottom: 0.25rem;
    padding-left: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    }
    .icon-sidebar{
        display: flex;
        background: rgb(241, 245, 249);
        flex-shrink: 0;
        flex-direction: column;
        box-sizing: border-box;
        height: 100vh;
    }
        .icon-sidebar span{
        font-size: calc(1.275rem + .3vw);
        }
        .icon-sidebar hr{
        margin: 1rem 0;
        width: 100%;
        opacity: .25;
        border-top: 1px solid;
        }
        .icon-sidebar ul{
        margin-bottom: auto;
        flex-direction: column;
        display: flex;
        }
        .icon-sidebar il{
        display: list-item;
        text-align: -webkit-match-parent;
        font: 1.5em sans-serif;
        list-style: none;
        margin-bottom: 0.25rem;
        padding-left: 5%;
        padding-top: 10px;
        padding-bottom: 10px;
        }
        .icon-sidebar img{
            width: 21%;
            margin: 0px auto;
        }
    .active{
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: #19AEE9;
    }
    /* Dit is voor dropdown */
    .dropdown {
        position: relative;
        display: inline-block;
        }

        .dropdown-content {
        display: none;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        }

        .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        }

        .dropdown-content a:hover {background-color: #ddd;}

        .dropdown:hover .dropdown-content {display: block;}

        .dropdown:hover .dropbtn {
            background-color: #d8d5d5;
            color: white;
        }